# OS
.DS_Store
Thumbs.db

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Laravel Core
/vendor
/node_modules
.env
.env.backup
.env.production

# Storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Public build
/public/build
/public/hot
/public/storage

# Testing
.phpunit.result.cache
/.phpunit.cache

# Config
.phpactor.json
/auth.json
Homestead.json
Homestead.yaml

# Logs
*.log

# ===== VUE FILES =====
/cantravel-fe
/cantravel-fe.zip
/package-lock.json
/package.json